<div *ngIf="selectedAuv" class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Auv Settings</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="selectedAuv.name" name="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address (URI)</label>
                                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="selectedAuv.address" name="address">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input type="text" class="form-control" placeholder="Serial Number" [(ngModel)]="selectedAuv.serial_number" name="serial_number">
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="5" class="form-control" placeholder="Here can be your description"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-info btn-fill pull-right" (click)="updateAuv()">Update AUV</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--Todo-->
    </div>

</div>